-- CreateTable
CREATE TABLE "Draw" (
    "id" SERIAL NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "numbers" TEXT NOT NULL,
    "stars" TEXT NOT NULL,
    "numbersDrawOrder" TEXT,
    "starsDrawOrder" TEXT,
    "jackpot" DOUBLE PRECISION,
    "hasWinner" BOOLEAN NOT NULL DEFAULT false,
    "vortexPrediction" TEXT,
    "antiVortexPrediction" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Draw_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "password" TEXT,
    "newsletterOptIn" BOOLEAN NOT NULL DEFAULT true,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "subscriptionExpiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'EMAIL_VERIFICATION',
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VerificationToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DashboardCard" (
    "id" TEXT NOT NULL,
    "componentKey" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'FREE',
    "minRole" TEXT NOT NULL DEFAULT 'USER',
    "price" DOUBLE PRECISION DEFAULT 0,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "icon" TEXT,
    "previewImage" TEXT,
    "gridSpan" INTEGER NOT NULL DEFAULT 1,
    "order" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isNew" BOOLEAN NOT NULL DEFAULT false,
    "config" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DashboardCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserPurchase" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserPurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserCardSettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "isVisible" BOOLEAN NOT NULL DEFAULT true,
    "order" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserCardSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ranked_systems" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ranked_systems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_performance" (
    "id" SERIAL NOT NULL,
    "drawId" INTEGER NOT NULL,
    "systemName" TEXT NOT NULL,
    "predictedNumbers" TEXT NOT NULL,
    "actualNumbers" TEXT NOT NULL,
    "hits" INTEGER NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_performance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_ranking" (
    "id" SERIAL NOT NULL,
    "systemName" TEXT NOT NULL,
    "avgAccuracy" DOUBLE PRECISION NOT NULL,
    "totalPredictions" INTEGER NOT NULL,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_ranking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cached_predictions" (
    "id" SERIAL NOT NULL,
    "systemName" TEXT NOT NULL,
    "numbers" TEXT NOT NULL,
    "worstNumbers" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cached_predictions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "star_system_ranking" (
    "id" SERIAL NOT NULL,
    "systemName" TEXT NOT NULL,
    "avgAccuracy" DOUBLE PRECISION NOT NULL,
    "totalPredictions" INTEGER NOT NULL,
    "totalHits" INTEGER NOT NULL DEFAULT 0,
    "jackpots" INTEGER NOT NULL DEFAULT 0,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "star_system_ranking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "star_system_performance" (
    "id" SERIAL NOT NULL,
    "drawId" INTEGER NOT NULL,
    "systemName" TEXT NOT NULL,
    "predictedStars" TEXT NOT NULL,
    "actualStars" TEXT NOT NULL,
    "hits" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "star_system_performance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_performance_staging" (
    "id" SERIAL NOT NULL,
    "drawId" INTEGER NOT NULL,
    "systemName" TEXT NOT NULL,
    "predictedNumbers" TEXT NOT NULL,
    "actualNumbers" TEXT NOT NULL,
    "hits" INTEGER NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_performance_staging_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exclusion_cache" (
    "id" SERIAL NOT NULL,
    "type" TEXT NOT NULL,
    "lastDrawId" INTEGER NOT NULL,
    "modelData" TEXT NOT NULL,
    "excludedItems" TEXT NOT NULL,
    "confidence" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "exclusion_cache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ml_model_training" (
    "id" SERIAL NOT NULL,
    "modelType" TEXT NOT NULL,
    "lastTrained" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ml_model_training_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exclusion_performance" (
    "id" SERIAL NOT NULL,
    "type" TEXT NOT NULL,
    "drawId" INTEGER NOT NULL,
    "excluded" TEXT NOT NULL,
    "actualWinners" TEXT NOT NULL,
    "wasSuccess" BOOLEAN NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "exclusion_performance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemPrediction" (
    "id" SERIAL NOT NULL,
    "drawId" INTEGER NOT NULL,
    "systemName" TEXT NOT NULL,
    "prediction" TEXT NOT NULL,
    "antiPrediction" TEXT NOT NULL,
    "hits" INTEGER NOT NULL,
    "antiHits" INTEGER NOT NULL,
    "jackpot" BOOLEAN NOT NULL DEFAULT false,
    "antiJackpot" BOOLEAN NOT NULL DEFAULT false,
    "calculatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SystemPrediction_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Draw_date_key" ON "Draw"("date");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "UserPurchase_userId_cardId_key" ON "UserPurchase"("userId", "cardId");

-- CreateIndex
CREATE UNIQUE INDEX "UserCardSettings_userId_cardId_key" ON "UserCardSettings"("userId", "cardId");

-- CreateIndex
CREATE UNIQUE INDEX "ranked_systems_name_key" ON "ranked_systems"("name");

-- CreateIndex
CREATE INDEX "system_performance_drawId_idx" ON "system_performance"("drawId");

-- CreateIndex
CREATE INDEX "system_performance_systemName_idx" ON "system_performance"("systemName");

-- CreateIndex
CREATE INDEX "system_performance_createdAt_idx" ON "system_performance"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "system_ranking_systemName_key" ON "system_ranking"("systemName");

-- CreateIndex
CREATE UNIQUE INDEX "cached_predictions_systemName_key" ON "cached_predictions"("systemName");

-- CreateIndex
CREATE UNIQUE INDEX "star_system_ranking_systemName_key" ON "star_system_ranking"("systemName");

-- CreateIndex
CREATE INDEX "star_system_performance_drawId_idx" ON "star_system_performance"("drawId");

-- CreateIndex
CREATE INDEX "star_system_performance_systemName_idx" ON "star_system_performance"("systemName");

-- CreateIndex
CREATE INDEX "system_performance_staging_drawId_idx" ON "system_performance_staging"("drawId");

-- CreateIndex
CREATE INDEX "system_performance_staging_systemName_idx" ON "system_performance_staging"("systemName");

-- CreateIndex
CREATE INDEX "exclusion_cache_type_lastDrawId_idx" ON "exclusion_cache"("type", "lastDrawId");

-- CreateIndex
CREATE UNIQUE INDEX "ml_model_training_modelType_key" ON "ml_model_training"("modelType");

-- CreateIndex
CREATE INDEX "exclusion_performance_type_drawId_idx" ON "exclusion_performance"("type", "drawId");

-- CreateIndex
CREATE INDEX "SystemPrediction_systemName_idx" ON "SystemPrediction"("systemName");

-- CreateIndex
CREATE INDEX "SystemPrediction_drawId_idx" ON "SystemPrediction"("drawId");

-- CreateIndex
CREATE UNIQUE INDEX "SystemPrediction_drawId_systemName_key" ON "SystemPrediction"("drawId", "systemName");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VerificationToken" ADD CONSTRAINT "VerificationToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPurchase" ADD CONSTRAINT "UserPurchase_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "DashboardCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPurchase" ADD CONSTRAINT "UserPurchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserCardSettings" ADD CONSTRAINT "UserCardSettings_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "DashboardCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserCardSettings" ADD CONSTRAINT "UserCardSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_performance" ADD CONSTRAINT "system_performance_systemName_fkey" FOREIGN KEY ("systemName") REFERENCES "ranked_systems"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_performance" ADD CONSTRAINT "system_performance_drawId_fkey" FOREIGN KEY ("drawId") REFERENCES "Draw"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_ranking" ADD CONSTRAINT "system_ranking_systemName_fkey" FOREIGN KEY ("systemName") REFERENCES "ranked_systems"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cached_predictions" ADD CONSTRAINT "cached_predictions_systemName_fkey" FOREIGN KEY ("systemName") REFERENCES "ranked_systems"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "star_system_performance" ADD CONSTRAINT "star_system_performance_drawId_fkey" FOREIGN KEY ("drawId") REFERENCES "Draw"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_performance_staging" ADD CONSTRAINT "system_performance_staging_systemName_fkey" FOREIGN KEY ("systemName") REFERENCES "ranked_systems"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_performance_staging" ADD CONSTRAINT "system_performance_staging_drawId_fkey" FOREIGN KEY ("drawId") REFERENCES "Draw"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SystemPrediction" ADD CONSTRAINT "SystemPrediction_drawId_fkey" FOREIGN KEY ("drawId") REFERENCES "Draw"("id") ON DELETE CASCADE ON UPDATE CASCADE;

